# Created by .ignore support plugin (hsz.mobi)
/.idea/
*/.idea/
*.iml
*/*.iml
*/*/*.iml
/reports/
*/reports/
*/*/reports/
/out-put/
*/out-put/
*/*/out-put/
/allure-results/
*/allure-results/
*/*/allure-results/
/target
*/target
**/target
/doc
*/doc
.DS_Store
*/.DS_Store
*/*/.DS_Store