# Created by .ignore support plugin (hsz.mobi)
/.idea/
/*/.idea/
/*/*/.idea/
/*.iml
/*/*.iml
/*/*/*.iml
/target
/*/target
/*/*/target
/doc
/*/doc
/*/*/doc
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/allure-results
/*/allure-results
/*/*/allure-results